/*
going with a width of 1280
*/

body {
  min-width: 1240px;      /* 2x LC width + RC width */
  min-height: 900px;
}
#main {
  padding-left: 320px;   /* LC width */
  padding-right: 170px;  /* RC width */
}
#main .column {
  position: relative;
  float: left;
}
#workspace {
  width: 100%;
  background-color: #999;
}
#dita-file {
  width: 320px;          /* LC width */
  right: 320px;          /* LC width */
  margin-left: -100%;
  min-height: 650px;
  background-color: #888;
}
#output {
  width: 170px;          /* RC width */
  margin-right: -170px;  /* RC width */
  background-color: #aaa;
  min-height: 650px;
}
#footer {
  clear: both;
}
/*** IE6 Fix ***/
* html #dita-file {
  left: 170px;           /* RC width */
}

#dropZone {
	border: 2px dashed #BBB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	font: 20pt bold 'Vollkorn';
	color: #BBB;
}

.left-column {
  position: relative;
  float: left;
  background-color: #ddd;
  min-height: 650px;
}

#original-dita {
  width: 150px;
  background-color: #ccc;
}

#extracted-dita {
  width: 170px;
  background-color: #bbb;
}

header {
  margin: 0;
  background-color: #eee;
}

header h1 {
  line-height: 1;
}

footer {
  background-color: #eee;
}