/*
going with a width of 1280
*/

body {
  min-width: 1240px;      /* 2x LC width + RC width */
  min-height: 900px;
}
#main {
  padding-left: 320px;   /* LC width */
  padding-right: 170px;  /* RC width */
}
#main .column {
  position: relative;
  float: left;
}
#workspace {
  width: 100%;
  background-color: #999;
}
#dita-file {
  width: 320px;          /* LC width */
  right: 320px;          /* LC width */
  margin-left: -100%;
  min-height: 650px;
  background-color: #888;
}
#output {
  width: 170px;          /* RC width */
  margin-right: -170px;  /* RC width */
  background-color: #aaa;
  min-height: 650px;
  overflow: auto;
  font-size:  10pt;
}
#footer {
  clear: both;
}
/*** IE6 Fix ***/
* html #dita-file {
  left: 170px;           /* RC width */
}



.left-column {
  position: relative;
  float: left;
  background-color: #ddd;
  min-height: 650px;
}


/* 
----------Original Dita section----------
*/

#original-dita {
  width: 130px;
  background-color: #ccc;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.file-wrapper .addFileButton {
  background: #79130e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  padding: 5px 18px;
  text-transform: uppercase;
  color: white;
}

.file-wrapper input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  font-size: 100px;
}

#dropZone {
	border: 2px dashed #777;
  border-radius: 5px 5px 5px 5px;
  bottom: 12px;
  color: #777;
  padding: 25px;
  position: absolute;
  top: 183px;
  width: 76px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

/* 
----------Extracted Steps section----------
*/

#extracted-dita {
  width: 150px;
  background-color: #bbb;
  padding: 10px;
  text-align: center;
}

.dita-step {
  border:2px solid;
  border-radius:25px;
  padding: 1px;
}

.dita-steps-unused {
  background-color: rgba(0, 255, 0, .5);
}

.dita-steps-used {
  background-color: rgba(204, 0, 51, .5);
}

.dita-steps-unused.dita-step-hover {
  background-color: rgba(10, 200, 10, .8);
}

.dita-steps-used.dita-step-hover {
  background-color: rgba(200, 10, 10, .8);
}

.dita-steps-used.highlight {
  background-color: rgba(255, 0, 0, .8);
}

.dita-step-hover {
  cursor: grab;
  cursor: -moz-grab;
}

.dita-step-dragged {
  cursor: grabbing;
  cursor: -moz-grabbing;
  background-color: rgba(1, 1, 1, .5) !important;
}

header {
  margin: 0;
  background-color: #eee;
}

header h1 {
  line-height: 1;
}

footer {
  
  background-color: #eee;
}



/*#workspace-editor {
  height: 650px;
}*/

#workspace-gallery {
  position: absolute;
  top: 670px;
  left: 0px;
  right: 0px;

  /*margin-top: 650px;*/
}


/* 
----------Infinite Carousel----------
*/

.infiniteCarousel {
  width: 750px;
  position: relative;
}

.infiniteCarousel .wrapper {
  width: 765px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 13em;
  position: absolute;
  top: 0;
  left: -27px;
}

.infiniteCarousel ul img {
  border: 5px solid #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.infiniteCarousel .wrapper ul {
  width: 29260px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  padding: 10px;
}

.infiniteCarousel ul li img {
  display:block;
}